<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite allow-return-values="true" name="Suite">
  <test  name="Test">
    <classes>
   <!--    <class name="testCases.MyStoreHome"/> -->
      <class name="testCases.CreateAccount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
